@import '../source/null.scss';

//----------general----------

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}


._container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._hidden{
    display: none;
}


@mixin fontStyle ($fs,$fw,$lh,$clr) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $clr;
}

@mixin flexStyle ($fl, $jc, $ai, $ta) {
    display: $fl;
    justify-content: $jc;
    align-items: $ai;
    text-align: $ta;
}


$headersColor: #333333;
$textColor: #999999;
$accentColor: #128C76;
$secondaryColor: #F56B8D;



//----------/general----------



//----------header----------

.header {
    padding: 18px 0px ;

    &__container {
    }

    &__body {
        @include flexStyle(flex, flex-start, center, start);
        gap: 20%;
        @media (max-width:1145px){
            gap: 10%;
        }
        @media (max-width:1024px){
            gap: 3%;
        }
        @media (max-width: 992px){
            justify-content: space-between;
        }
        
    }

    &__logo {
        @include fontStyle(24px, 700, 100%, $accentColor);
        text-transform: uppercase;
    }

    &__nav {
       @media (max-width:992px){
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        z-index: 100;
       }
    }

    &__icon {
        display: none;
        @media (max-width: 992px) {
        display: block;
        height: 18px;
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 5;
        span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $accentColor;
        &:first-child {
        top: 0;
        }
        &:last-child {
        top: auto;
        bottom: 0;
        }
        }
        &._active {
        span {
        transform: scale(0);
        &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
        }
        &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
        }
        }
        }
        }
    }
}

.nav {
    transition: all .2s ease 0s;
    @media (max-width:992px){
        display: none;
    }
    &._active{
        display: block;
    }

    &__body {
        @include flexStyle(flex, flex-start, center, start);
        gap: 15px;
        @media (max-width: 992px){
            flex-direction: column;
            overflow: auto;
            background: $accentColor;
            height: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 25px;
            padding: 100px 0px 0px 50px;
            box-shadow: 5px 0px 24px -4px ;
        }
    }

    &__item {
        a{
            @include fontStyle(16px, 700, 150%, $headersColor);
            cursor: pointer;
            @media (max-width: 992px){
                color: #fff;
            }
        }
    }

    &__buttons {
    }
}
.nav-buttons {


    &__button {
        cursor: pointer;
        &:not(:last-child){
            margin-right: 16px;
        }
        @media (max-width:992px){
            &:not(:last-child){
                margin-bottom: 15px;
                padding: 16px 55.5px 14px;
            }
        }
    }
}
.green-button {
    padding: 16px 40px 14px;
    @include fontStyle(16px, 700, 150%, #fff);
    background: $accentColor;
    &._active{
        background: #fff;
        color: #128C76;
    }
}
.red-button {
    padding: 16px 40px 14px;
    @include fontStyle(16px, 700, 150%, $secondaryColor);
    border: 1px solid $secondaryColor;
    background: #fff;
}



//----------/header----------



//----------hero----------

.hero {
    background: url(../img/hero/back.png) center no-repeat;
    background-size: cover;

    &__container {
    }

    &__body {
        padding: 200px 0px 201px 0px;
    }

    &__title {
        @include fontStyle(60px, 700, 120%, #fff);
        margin-bottom: 40px;
        @media (max-width:1024px){
            font-size: 40px;
        }
    }

    &__text {
        @include fontStyle(24px, 400, 133.33%, #fff);
        margin-bottom: 40px;
        @media (max-width:768px){
            font-size: 20px;
        }
    }

    &__button {
    }
}

.green-button {
}





//----------/hero----------


//----------offerings----------

.offerings {

    &__container {
    }

    &__body {
        padding: 160px 0px;
    }

    &__title {
       margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 30px;
        row-gap: 40px;
        margin-bottom: 80px;
    }

    &__item {
    }

    &__button{
        text-align: center;
        button{
            @include fontStyle(16px, 700, 150%, $secondaryColor);
            padding: 24px 51px 22px;
            border: 1px solid $secondaryColor;
            background: transparent;
            cursor: pointer;
        }
    }
}

.title {
    @include fontStyle(24px, 400, 133.33%, $textColor);
    text-align: center;
    h1{
        @include fontStyle(48px, 700, 133.33%, $headersColor);
    }
}
.off-item {
    box-shadow: 0px 24px 60px rgba(51, 51, 51, 0.16);
    position: relative;

    &__pic {
        margin-bottom: 24px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__tags {

    }

    &__title {
        @include fontStyle(16px, 400, 133.33%, $textColor);
        margin-bottom: 24px;
        padding-left: 24px;
        span{
            @include fontStyle(24px, 700, 133.33%, $headersColor);
        }
    }

    &__description {
        padding-left: 24px;
        @include fontStyle(16px, 400, 133.33%, $headersColor);
        margin-bottom: 24px;
    }

    &__progress {
        padding-left: 24px;
        margin-bottom: 24px;
        progress{
            height: 8px;
            width: 90%;
            margin-bottom: 8px;
            &::-webkit-progress-bar{
                background-color: #ECECEC;
            }
            &::-webkit-progress-value{
                background-color: $accentColor;
            }
        }
        span{
            color: $accentColor;
            font-weight: 700;
        }
    }

    &__properties {
    }

    &__button {
        button{
            width: 100%;
            text-align: center;
            background-color: $secondaryColor;
            padding: 25px 0px 23px 0px;
            @include fontStyle(16px, 700, 150%, #fff);
            text-transform: capitalize;
        }
        

    }
}
.tags {
    @include flexStyle(flex, start, flex-start, center);
    gap: 4px;
    position: absolute;
    top: 25px;
    left: 25px;

    &__item {
        @include fontStyle(10px, 700, 120%, $headersColor);
        padding: 8px 12px 6px;
        background: rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
    }
}
.item-prop {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    &::before{
        content: "";
        display: block;
        height: 0px;
        border: 1px solid #ECECEC;
        width: 90%;
        margin: 0px auto 24px;
    }

    &__property {
        @include flexStyle(flex,space-between , start, start);
        @include fontStyle(16px, 400, 150%, $headersColor);
        div{
            &:nth-child(2){
                font-weight: 700;
            }
        }
        
    }
}

.off-item-hidden{
    
}




//----------/offerings----------